<mat-toolbar class="mat-elevation-z4" color="primary">
  <mat-toolbar-row class="wrapper">
    <span>Crie uma nova senha</span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="wrapper main">
  <form class="mat-elevation-z2" #passwordform="ngForm" (ngSubmit)="newPassword()" novalidate>
    <mat-form-field>
      <input matInput type="password" placeholder="Nova senha" [(ngModel)]="user.password" name="password">
    </mat-form-field>
    <button mat-button mat-raised-button color="primary" type="submit">Criar nova senha</button>
  </form>
  <pre *ngIf="passwordChanged">Senha alterada com sucesso!</pre>
  <pre *ngIf="passwordChanged">Você será redirecioando em instantes...</pre>
</div>