@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    background-color: #eeeeee;
    margin: 0;
}

.spacer {
    flex: 1 1 auto;
}

.wrapper {
    max-width: 600px;
    margin: 0 auto;
}

.main {
    padding: 16px;
}

form {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.form-footer {
    display: flex;
    justify-content: flex-end;
}

.form-footer > button:last-child {
    margin-left: 8px;
}
